In [15]:
import pandas as pd
import numpy as np
from datetime import datetime
import pandas as pd

from random import choice

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder 

import joblib


dx=pd.read_excel('Dropex-Wardenine-Final_fake.xlsx')

In [16]:
y = dx ['Date arrivée']
y = pd.to_datetime(y)
y

0      2021-05-07 14:51:00
1      2021-05-07 15:22:00
2      2021-05-10 12:48:00
3      2021-05-09 12:49:00
4      2021-05-09 12:51:00
               ...
1527   2022-01-14 13:03:00
1528   2022-01-15 13:08:00
1529   2022-01-15 13:10:00
1530   2022-01-16 13:12:00
1531   2022-01-20 15:31:00
Name: Date arrivée, Length: 1532, dtype: datetime64[ns]

In [17]:
X = dx.drop(columns=['Refernce','COD','Name','Address','Mobile','Remarque','Date arrivée'])
cleanup_nums = {"Governorate":     
                {"Ariana": 1, "Beja": 2, "Ben Arous": 3, "Bizerte": 4, "Gabes": 5, "Gafsa": 6, "Jendouba": 7, "Kairouan": 8, "Tunis": 9, "Zaghouan": 10, "Kasserine": 11, "Kébili": 12, "Le Kef": 13, "Mahdia": 14, "La Manouba": 15, "Médenine": 16, "Monastir": 17, "Nabeul": 18, "Sfax": 19, "Sidi Bouzid": 20, "Siliana": 21, "Sousse": 22, "Tataouine": 23, "Tozeur": 24}}

X=X.replace(cleanup_nums)
#X['COD'] = X['COD'].astype(np.int64)
X['Date'] = pd.to_datetime(X['Date']).view(np.int64)
X

                     Date  Governorate
0     1620312660000000000           14
1     1620314520000000000           17
2     1620478080000000000            9
3     1620478140000000000           22
4     1620478260000000000           14
...                   ...          ...
1527  1642078980000000000            9
1528  1642165680000000000            9
1529  1642165800000000000           19
1530  1642165920000000000           18
1531  1642433460000000000            8

[1532 rows x 2 columns]

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.7)

In [19]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
#joblib.dump(model,"recommender.joblib")
#joblib.load(model,"recommender.joblib")
predictions= model.predict(X_test)
predictions
score = accuracy_score(y_test,predictions)
score

0.6234855545200373

In [20]:

val = input("Enter your Governorate : ")
val_date=input("Enter your Order date and time 'dd/mm/yyyy hh:mm' : ")

date_time_obj = datetime.strptime(val_date, '%d/%m/%Y %H:%M')
val_date=np.datetime64(date_time_obj).view(np.int64)
val_date=str(val_date)
val_date=val_date+"000"
val_date=int(val_date)

print(val_date)

options = {"Ariana" :1 ,
           "Beja" :2 ,
           "Ben Arous" :3 ,
           "Bizerte" :4 ,
           "Gabes" :5 ,
           "Gafsa" :6 ,
           "Jendouba" :7 ,
           "Kairouan" :8 ,
           "Tunis" :9 ,
           "Zaghouan" :10 ,
           "Kasserine" :11 ,
           "Kébili" :12 ,
           "Le Kef" :13 ,
           "Mahdia" :14,
           "La Manouba" :15 ,
           "Médenine" :16 ,
           "Monastir" :17 ,
           "Nabeul" :18 ,
           "Sfax" :19 ,
          "Sidi Bouzid" :20,
           "Siliana" :21 ,
           "Sousse" :22 ,
           "Tataouine" :23 ,
           "Tozeur" :24 }

gov=options[val]

Enter your Governorate : Tunis
Enter your Order date and time 'dd/mm/yyyy hh:mm' : 18/10/2022 15:30
1666107000000000000

In [21]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions= model.predict([ [val_date,gov] ])
predictions

array(['2022-01-16T13:12:00.000000000'], dtype='datetime64[ns]')